<html lang="en">
  <head>
    <title>Demo</title>
  </head>
  <body>

  <video muted controls autoplay id="cropping"></video>
    <br><br>


    Chat: 
<br>
<span id="chat"></span>
<hr>
Message:
<br>
<textarea id="msg" style="width:380px; height: 80px;"></textarea>
<hr>
<button id="send">Send Message</button>

        

  <%= javascript_include_tag('video-stream-merger.js') %>
  <%= javascript_include_tag('getusermedia.js') %>
  
  <script>

    var players = document.querySelectorAll('video')
    
    getusermedia({video:true, audio:true}, function (err, mediaStream) { 
      if (err) throw err
      
      // Composite videos
      var composite = new VideoStreamMerger()
      composite.addStream(mediaStream)
     
      composite.start()
      players[0].srcObject = composite.result
      
      // Resizing videos
      var resizing = new VideoStreamMerger({
        height: 200,
        width: 1000
      })
      resizing.addStream(mediaStream)
      resizing.start()
      players[1].srcObject = resizing.result
      
      // Cropping videos
      var cropping = new VideoStreamMerger()
      cropping.addStream(mediaStream, {
        x: -300,
        y: -300,
        width: cropping.width+300,
        height: cropping.height+300
      })
      cropping.start()
      players[2].srcObject = cropping.result
      
      var audioContext = new AudioContext()
      var custom = new VideoStreamMerger({
        audioContext: audioContext
      })
      
      //generate a audio sine wave
      var sineNode = audioContext.createOscillator()
      sineNode.frequency.value = 440
      sineNode.start()
      
      custom.addStream(mediaStream, {
        draw : function (ctx, frame, done) {
          ctx.clearRect(0,0,custom.width, custom.height)
          ctx.translate(custom.width/2, custom.height/2)
          ctx.rotate(0.1) // spin the video
          ctx.drawImage(frame, -custom.width/2, -custom.height/2, custom.width, custom.height)
          ctx.translate(-custom.width/2, -custom.height/2)
          ctx.filter = 'blur(5px) grayscale(100%)' // make the video blurry and grayscale
          done()
        },
        audioEffect: function (sourceNode, destinationNode) {
          // merge the input audio and the sine wave
          sourceNode.connect(destinationNode)
          sineNode.connect(destinationNode)
        }
      })
      custom.start()
      players[3].srcObject = custom.result

    })

  </script>
  </body>
<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script>


  $(document).ready(function(){

    /* RECEIVE MESSAGE */
    App.chat.received = function(data)
    {
      $("#chat").append("@" + '<%= @twitter_handle[ :screen_name ]%>' +": " + data['message']+"<br>")
    }
    
    $("#send").click(function(){
      msg = $("#msg").val()
      /* SEND MESSAGE */
      App.chat.send_msg(msg)
    })
  })
</script>
</html>


  


  


